beautifulsoup4==4.12.3
certifi==2024.7.4
coreapi==2.3.3
coreschema==0.0.4
Django==5.0.7
django-bootstrap4==24.3
django-bootstrap-datepicker-plus==5.0.5
django-cors-headers==4.4.0
django-filebrowser-no-grappelli==4.0.2
django-filter==24.2
django-select2==8.2.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.2
ExifRead==3.0.0
geopy==2.4.1
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
pillow==10.4.0
psycopg2-binary==2.9.9
pyparsing==3.1.2
pytz==2024.1
requests==2.32.3
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
six==1.16.0
# soupsieve==2.4
sqlparse==0.5.0
uritemplate==4.1.1
urllib3==2.2.2
