beautifulsoup4==4.12.2
certifi==2022.12.7
coreapi==2.3.3
coreschema==0.0.4
Django==4.2.1
django-bootstrap4==23.1
django-bootstrap-datepicker-plus==5.0.3
django-cors-headers==3.14.0
django-filebrowser-no-grappelli==4.0.1
django-filter==23.1
django-select2==8.1.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-spectacular==0.26.2
ExifRead==3.0.0
geopy==2.3.0
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
MarkupSafe==2.1.2
packaging==23.1
Pillow==9.5.0
psycopg2-binary==2.9.6
pyparsing==3.0.9
pytz==2023.3
requests==2.28.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
six==1.16.0
# soupsieve==2.4
sqlparse==0.4.4
uritemplate==4.1.1
urllib3==1.26.15
