asgiref==3.2.3
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django>=2.0
django-appconf==1.0.3
django-bootstrap4==1.1.1
django-filebrowser-no-grappelli>=3.8.0
django-filter==2.2.0
django-rest-swagger==2.2.0
django-tempus-dominus==5.1.2.13
djangorestframework==3.11.0
ExifRead==2.1.2
geographiclib==1.50
geopy==1.20.0
idna==2.8
itypes==1.1.0
Jinja2==2.11.0
MarkupSafe==1.1.1
openapi-codec==1.3.2
packaging==20.1
Pillow==7.0.0
pip-review==1.0
psycopg2-binary==2.8.4
pyparsing==2.4.6
pytz==2019.3
requests==2.22.0
simplejson==3.17.0
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
uritemplate==3.0.1
urllib3==1.25.8
