{% extends 'base.html' %}
{% load i18n static bootstrap4 %}

{% block bootstrap4_extra_head %}
{{ block.super }}
{% endblock %}

{% block title %}{% trans 'settings' %}{% endblock %}

{% block content %}
<form method="post" class="from-horizontal" role="form" action="">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-4 offset-md-4">
            {% bootstrap_form settingsform %}
            {% buttons %}
                <button class="btn btn-primary" name="submit" type="submit" formnovalidate>
                    <i class="far fa-check"></i>
                </button>
                <button class="btn btn-secondary" type="submit" name="cancel" formnovalidate>
                    <i class="far fa-times"></i>
                </button>
            {% endbuttons %}
        </div>
    </div>

</form>

{% endblock %}
