{% extends 'base_struct.html' %}
{% load i18n static bootstrap4 %}

{% block bootstrap4_extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'magnific-popup/magnific-popup.css' %}">
<script src="{% static 'magnific-popup/jquery.magnific-popup.min.js' %}"></script>
{% endblock %}

{% block bootstrap4_extra_script %}
<script type="text/javascript">
$(document).ready(function() {
    $('.popup-gallery').magnificPopup({
        delegate: 'a.img-large',
        type: 'image',
        tLoading: 'Loading image #%curr%...',
        mainClass: 'mfp-img-mobile',
        gallery: {
            enabled: true,
            navigateByImgClick: true,
            preload: [0,1] // Will preload 0 - before current, and 1 after the current image
        },
        image: {
            tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
            titleSrc: function(item) {
                 return item.el.attr('title') + '<small>' + item.el.attr('href') + '</small>';
            }
        }
    });
});
</script>
{% endblock %}

{% block filter %}
<div class="row">
    <div class="col">
        <h5>Filter</h5>
        <form action="" method="get">
            {% bootstrap_form photos.form %}
            {% bootstrap_button "<i class='far fa-filter'></i>" button_type="submit" button_class="btn-primary" %}
        </form>
    </div>
</div>
{% endblock %}

{% block toolbar %}
<button class="btn btn-default" id="all" title="{% trans 'select all' %}">
    <i class="fas fa-th"></i>
</button>
<button class="btn btn-default" id="none" title="{% trans 'select none' %}">
    <i class="fal fa-th"></i>
</button>
<button class="btn btn-default" id="edit">
    <i class="far fa-edit"></i>
</button>
<button class="btn btn-default" data-toggle="modal" data-target="#deleteModal">
    <i class="far fa-trash-alt"></i>
</button>
<button class="btn btn-default" id="download">
    <i class="far fa-download"></i>
</button>
{% endblock %}

{% block photocontent %}
{% regroup photos.qs by upload as import_list %}
{% for import in import_list %}
<div class="row justify-content-center list popup-gallery">
    <div class="col-12 text-center">{{ import.grouper.name }}</div>
    {% for photo in import.list %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 image-container justify-content-center align-self-center">
        <div class="image text-center">
            <a href="{{ photo.imagefile.url }}" class="img-large" title="{{ photo.name }}">
                {% if photo.thumb %}
                <img class="img-responsive thumb img-thumbnail" src="{{ photo.thumb.url }}" alt="{{ photo.name }}">
                {% else %}
                <img class="img-responsive" src="{{ photo.imagefile.url }}" alt="{{ photo.name }}">
                {% endif %}
            </a>
        </div>
        <div class="tool-container text-center">
            <a href="{% url 'photodetail' photo.id %}" class="tool">
                <i class="far fa-info-circle"></i>
            </a>
            <a href="{% url 'photodetail' photo.id %}" class="tool">
                <i class="far fa-edit"></i>
            </a>
            <a href="{% url 'photodelete' photo.id %}" class="tool">
                <i class="far fa-trash"></i>
            </a>
            <a href="{{ photo.imagefile.url }}" download class="tool">
                <i class="far fa-download"></i>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
<br/><hr/>
{% endfor %}
{% endblock %}
