{% extends 'base.html' %}
{% load i18n static bootstrap4 photo_tags %}

{% block bootstrap4_extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/eventlist.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4>{% trans 'events' %}</h4>

            <div class="row popup-gallery justify-content-center">
                <div class="card-deck">
                    {% for event in eventlist %}
                    <div class="card text-center" id="{{ event.id }}">
                        <div class="image-container">
                            {% for photo in event.photo_set.visible|slice:"0:3" %}
                            <img class="img-responsive thumb img-thumbnail" src="{{ photo.thumb.url }}" alt="{{ photo.name }}"
                                style="transform: rotate({{forloop.counter|rotation}}deg);">
                            {% endfor %}
                        </div>
                        <div class="card-body toolbar">
                            <h5 class="card-title">
                                {{ event.name }}
                                <span class="badge badge-secondary">{{ event.photo_set.visible.count }}</span>
                            </h5>
                            <a href="{% url 'photolist' %}?viewtype=event&event={{event.id}}" class="tool"
                            {% if event.photo_set.all.count == 0 %}disabled="disabled{% endif %}" 
                            title="{% trans 'view' %}">
                                <i class="far fa-eye"></i>
                            </a>
                            <a href="{% url 'eventupdate' event.id %}" class="tool" title="{% trans 'edit' %}">
                                <i class="fal fa-edit"></i>
                            </a>
                            <a href="{% url 'eventdelete' event.id %}" class="tool" title="{% trans 'delete' %}">
                                <i class="fal fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <a href="{% url 'photolist' %}">
                <button class="btn btn-primary" name="back" title="{% trans 'back' %}">
                    <i class="far fa-check"></i>
                </button>
            </a>
            <a href="{% url 'eventcreate' %}">
                <button class="btn btn-success" name="add" title="{% trans 'new' %}">
                    <i class="far fa-plus"></i>
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
