{% extends 'base.html' %}
{% load i18n static bootstrap4 %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4>{% trans 'events' %}</h4>
            <table id="events" class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>{% trans 'name' %}</th>
                        <th># {% trans 'photos' %}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in eventlist %}
                    <tr>
                        <td>{{ event.name }}</td>
                        <td>{{ event.photo_set.all.count }}</td>
                        <td>
                            <a href="{% url 'photolist' %}?viewtype=e&event={{event.id}}">
                                <button class="btn btn-sm btn-secondary" title="{% trans 'view' %}">
                                    <i class="far fa-eye"></i>
                                </button>
                            </a>
                        </td>
                        <form method="get" class="from-horizontal" role="form" action="">
                        {% csrf_token %}
                        <td>
                            <button class="btn btn-sm btn-secondary" name="edit" value="{{ event.id }}" title="{% trans 'edit' %}">
                                <i class="far fa-edit"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-danger" name="delete" value="{{ event.id }}" title="{% trans 'delete' %}">
                                <i class="far fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-primary" name="back" title="{% trans 'back' %}">
                <i class="far fa-check"></i>
            </button>
            <button class="btn btn-success" name="add" title="{% trans 'new' %}">
                <i class="far fa-plus"></i>
            </button>
        </div>
    </div>
</div>
</form>
{% endblock %}
