{% extends 'base.html' %}
{% load i18n static bootstrap4 %}

{% block title %}{% trans 'Delete' %} {% trans 'gallery' %} "{{ object }}"{% endblock %}

{% block content %}
<form action="" method="post" class="form-inline">
{% csrf_token %}

    <div class="container-fluid">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3 text-center">
                <p>{% trans 'really delete this gallery?' %}</p>
            </div>
        </div>

        {% buttons %}
        <button type="submit" class="btn btn-danger" name="delete">
            <i class="far fa-check"></i>
        </button>
        <button type="submit" class="btn btn-secondary" name="cancel">
            <i class="far fa-times"></i>
        </button>
        {% endbuttons %}
    </div>

</form>
{% endblock %}