{% extends 'base.html' %}
{% load i18n static bootstrap4 fb_versions %}

{% block bootstrap4_extra_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/photomap.css' %}"/>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
{% endblock %}

{% block bootstrap4_extra_script %}
{{ block.super }}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

<script>
function resizeMap() {
    var height = $(window).height() - 250;
    $('#mapid').height(height);
    mymap.invalidateSize();
}

$(document).ready(function(){

    mymap = new L.Map('mapid').setView([{{ photo_list.0.latitude }}, {{ photo_list.0.longitude }}], 10);

    var tiles = new L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: '© <a href="https://www.mapbox.com/about/maps/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> <strong><a href="https://www.mapbox.com/map-feedback/" target="_blank">Improve this map</a></strong>',
        tileSize: 512,
        maxZoom: 20,
        zoomOffset: -1,
        id: 'mapbox/streets-v11',
        //id: 'mapbox/light-v10',
        accessToken: "{{ mapbox_token }}"
    }).addTo(mymap);

    {% for photo in photo_list %}
        var map_icon = L.icon({
            iconUrl: '{% version photo.imagefile 'admin_thumbnail' %}',
            iconAnchor:   [16, 16], // point of the icon which will correspond to marker's location
        });
        var marker = L.marker(
            [{{ photo.latitude }}, {{ photo.longitude }}],
            { icon: map_icon }
        ).addTo(mymap).on('click', function(e) {
            var props = e.target.properties;
            $('#id_photo_name').html(props.name);
            $('#id_photo_file').attr('src', props.url);
            $('#id_photo_file').attr('alt', props.name);
            $('#photoModal').modal();
            //alert(props.url);
        });
        marker.properties = {};
        marker.properties.id = {{ photo.id }};
        marker.properties.name = "{{ photo.name }}";
        marker.properties.url = "{{ photo.imagefile.url }}";
    {% endfor %}

    resizeMap();
    window.onresize = function() {
        resizeMap();
    }

    $("#photoModal").on("hidden.bs.modal", function () {
        $('#id_photo_file').attr('src', '');
        $('#id_photo_file').attr('alt', '');
    });
});
</script>
{% endblock %}

{% block title %}
    {% trans 'Map' %}
    <span class="badge badge-secondary">{{ photo_list.count }}</span>
{% endblock %}

{% block content %}
<!-- The Modal -->
<div class="modal fade" id="photoModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 id="id_photo_name" class="modal-title">Test</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <img id="id_photo_file" src="" alt="" width="100%">
            </div>

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div id="mapid" style="height: 200px; width: 100%;"></div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <br/>
            <a href="{% url 'photolist' %}{{ query_param }}" title="{% trans 'back' %}">
                <button class="btn btn-primary" type="link">
                    <i class="fal fa-check"></i>
                </button>
            </a>
        </div>
    </div>

</div>
{% endblock %}
