{% extends 'base.html' %}
{% load i18n static bootstrap4 photo_tags fb_versions %}

{% block bootstrap4_extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/photolist.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" type="text/css" media="all" rel="stylesheet">
<link href="/static/bootstrap_datepicker_plus/css/datepicker-widget.css" type="text/css" media="all" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css" type="text/css" media="screen" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" type="text/css" media="screen" rel="stylesheet">
{% endblock %}

{% block bootstrap4_extra_script %}
{{ block.super }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/i18n/de.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/static/django_select2/django_select2.js"></script>
<script type="text/javascript" src="/static/bootstrap_datepicker_plus/js/datepicker-widget.js"></script>
<script type="text/javascript">
function toggleTools(enabled) {
    $('#toolbar .global-tool').prop('disabled', !enabled);
    if (enabled) {
        $('#id_selected').show();
    } else {
        $('#id_selected').hide();
    }

    var count = $(".card.selected").length;
    $('#id_count_sel').text(count);
}

$(document).ready(function() {
    toggleTools(false);
    $('#user-select').select2({ theme: 'bootstrap', width: '100%' });
    $('#id_event').select2({ theme: 'bootstrap', width: '100%' });
    $('#id_tags').select2({ theme: 'bootstrap', width: '100%' });
    $('#id_assign_owner').select2({ theme: 'bootstrap', width: '100%' });
    $('#id_assign_event').select2({ theme: 'bootstrap', width: '100%' });
    $('#id_assign_tags').select2({ theme: 'bootstrap', width: '100%' });
    $('#id_event option').clone().appendTo('#id_assign_event');
    $('#id_tags option').clone().appendTo('#id_assign_tags');
    $('#user-select option').clone().appendTo('#id_assign_owner');
    $("#id_assign_owner").prepend("<option value='' selected='selected'>---------</option>");
    $('#id_uploaded_by').select2({ theme: 'bootstrap', width: '100%' });
    $('#id_upload').select2({ theme: 'bootstrap', width: '100%' });
    var options = {
    };
    $('#id_timestamp_0').datetimepicker(options);
    $('#id_timestamp_1').datetimepicker(options);
    $('#id_uploaded_0').datetimepicker(options);
    $('#id_uploaded_1').datetimepicker(options);


    $('.image-container').on('click', function() {
       if ($(this).parent().hasClass('selected')) {
           $(this).parent().removeClass('selected');
           if ($('.card.selected').length == 0) {
               toggleTools(false);
           }
        } else {
            $(this).parent().addClass('selected');
            toggleTools(true);
       }
    });

    $('#filter').click(function() {
        $('#filterModal').modal();
    });

    $('#all').on('click', function() {
        $('.card').addClass('selected');
        toggleTools(true);
    });
    $('#none').on('click', function() {
        $('.card').removeClass('selected');
        toggleTools(false);
    });

    $('#confirm_delete').on('click', function() {
        $('#deleteModal').modal(options);
    });

    $('#id_slideshow').on('click', function() {
        var ids = $.map($(".card.selected"), function (item) {
            return $(item).attr("id");
        });
        window.document.location.href = "{% url 'slideshow' %}?ids="+ids;
    });

    $('#show_in_map').on('click', function() {
        var ids = $.map($(".card.selected"), function (item) {
            return $(item).attr("id");
        });
        window.document.location.href = "{% url 'photomap' %}?ids="+ids;
    });

    $('#delete').on('click', function() {
        var ids = $.map($(".card.selected"), function (item) {
            return $(item).attr("id");
        });
        $.ajax({
            type: 'POST',
            url: '/processdelete/',
            data: {
                'ids[]': ids,
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            },
            success: function(){
                $(".card.selected").remove();
                $('#id_selected').hide();
                $('#id_count_sel').text('');

            },
            error: function (xhr, ajaxOptions, thrownError){
                alert('error!');
            }
        });
    });

    $('#assign').on('click', function() {
        var ids = $.map($(".card.selected"), function (item) {
            return $(item).attr("id");
        });

        var event = $('#id_assign_event').val();
        var tags = $('#id_assign_tags').val();
        var owner = $('#id_assign_owner').val();

        $.ajax({
            type: 'POST',
            url: '/processassign/',
            data: {
                'ids[]': ids,
                'event': event,
                'owner': owner,
                'tags[]': tags,
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            },
            success: function() {
                if (owner) {
                    location.reload();
                } else {
                    $('#id_assign_tags').val(null).trigger('change');
                }
            },
            error: function (xhr, ajaxOptions, thrownError){
                alert('error!');
            }
        });
    });

    $('#download').on('click', function() {
        var ids = $.map($(".card.selected"), function (item) {
            return $(item).attr("id");
        });
        $.ajax({
            type: 'POST',
            url: '/preparedownload/',
            data: {
                'ids[]': ids,
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            },
            success: function(){
                $('#downloadModal').modal();
            },
            error: function (xhr, ajaxOptions, thrownError){
                alert('error!');
            }
        });
    });

    $('#id_download').click(function() {
        $('#downloadModal').modal('hide');
    });

    $('#select_share').click(function() {
        $('#shareModal').modal(options);
    });

    $('#share').on('click', function() {
        var ids = $.map($(".card.selected"), function (item) {
            return $(item).attr("id");
        });
        var users = $.map($('#user-select').find(':selected'), function (item) {
            return $(item).val();
        });
        $.ajax({
            type: 'POST',
            url: '/processshare/',
            data: {
                'ids[]': ids,
                'users[]': users,
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            },
            success: function(){
                $('#user-select').val(null).trigger('change');
                if (ids.lenght > 1) {
                    alert(ids.length + ' Fotos geteilt.');
                } else {
                    alert(ids.length + ' Foto geteilt.');
                }
            },
            error: function (xhr, ajaxOptions, thrownError){
                alert('error!');
            }
        });
    });

});
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12" id="toolbar">
        <div class="panel">
            <button class="btn btn-secondary" id="filter" title="{% trans 'Filter' %}">
                <i class="fas fa-filter"></i>
            </button>
            <a href="{% url 'photolist' %}" class="btn btn-secondary" title="{% trans 'Remove filter' %}">
                <i class="far fa-times"></i>
            </a>
            <span class="tool-separator"></span>
            <button class="btn btn-secondary" id="all" title="{% trans 'select all' %}">
                <i class="fas fa-th"></i>
            </button>
            <button class="btn btn-secondary" id="none" title="{% trans 'select none' %}">
                <i class="fal fa-th"></i>
            </button>
            <span class="badge badge-secondary badge-info badge-lg" id="id_selected" style="display:none;">
                <span id="id_count_sel"></span>
            </span>
            <span class="tool-separator"></span>
            <button id="id_slideshow" class="btn btn-secondary global-tool" id="map" title="{% trans 'show selected in map' %}">
                <i class="fal fa-presentation"></i>
            </button>
            <button id="show_in_map" class="btn btn-secondary global-tool" id="map" title="{% trans 'show selected in map' %}">
                <i class="fal fa-map"></i>
            </button>
            <span class="tool-separator"></span>
            <button class="btn btn-secondary global-tool" data-toggle="modal" data-target="#categoryModal" title="{% trans 'categorize' %}">
                <i class="fal fa-box-open"></i>
            </button>
            <button id="confirm_delete" class="btn btn-secondary global-tool" title="{% trans 'delete' %}">
                <i class="fal fa-trash-alt"></i>
            </button>
            <span class="tool-separator"></span>
            <button id="download" class="btn btn-secondary global-tool" id="download" title="{% trans 'download' %}">
                <i class="fal fa-download"></i>
            </button>
            <button id="select_share" class="btn btn-secondary global-tool" title="{% trans 'share' %}">
                <i class="fal fa-share-all"></i>
            </button>
            <span class="tool-separator"></span>
        </div>
    </div>
</div>


<!-- The Modals -->
<div class="modal fade" id="filterModal">
    <div class="modal-dialog">
        <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">{% trans 'Filter' %}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <form action="" method="get">
                {% csrf_token %}
                {% bootstrap_field photos.form.event %}
                {% bootstrap_field photos.form.tags %}
                {% bootstrap_field photos.form.timestamp %}
                {% bootstrap_field photos.form.uploaded_by %}
                {% bootstrap_field photos.form.uploaded %}
                {% bootstrap_field photos.form.upload %}
                {% bootstrap_button "<i class='far fa-filter'></i>" button_type="submit" button_class="btn-primary" %}
            </form>
        </div>

        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">{% trans 'Delete photos' %}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <p>
                {% trans 'Do you really want to delete the selected photos?' %}
            </p>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button id="delete" type="button" class="btn btn-danger" data-dismiss="modal">
                <i class="fal fa-trash"></i>
                {% trans 'delete' %}
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                <i class="fal fa-times"></i>
            </button>
        </div>

        </div>
    </div>
</div>

<div class="modal fade" id="shareModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{% trans 'Share photos' %}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <label for="user-select">{% trans 'User' %}</label>
                <select id="user-select" multiple>
                    {% for user in users %}
                        <option value="{{ user.id }}">
                            {% if user.get_full_name %}
                            {{ user.get_full_name }}
                            {% else %}
                            {{ user.username }}
                            {% endif %}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="share" type="button" class="btn btn-primary" data-dismiss="modal">
                    <i class="fal fa-share"></i>
                    {% trans 'share' %}
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fal fa-times"></i>
                </button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="downloadModal">
    <div class="modal-dialog">
        <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">{% trans 'download' %}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <p>
                {% trans 'Download compressed photos.' %}
            </p>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <a href="{% url 'processdownload' %}" class="btn btn-primary" id="id_download"
               title="{% trans 'download' %}">
                <i class="fal fa-download"></i>
            </a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                <i class="fal fa-times"></i>
            </button>
        </div>

        </div>
    </div>
</div>

<div class="modal fade" id="categoryModal">
    <div class="modal-dialog">
        <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">{% trans 'categorize photos' %}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <form action="" method="get">
                    <div class="form-group is-valid">
                        <label for="id_assign_event">{% trans 'event' %}</label>
                        <select name="event" class="form-control is-valid" title="" id="id_assign_event"></select>
                    </div>
                    <div class="form-group is-valid">
                        <label for="id_assign_tags">{% trans 'tags' %}</label>
                        <select name="tags" class="form-control is-valid" title="" id="id_assign_tags" multiple="multiple"></select>
                    </div>
                    <div class="form-group is-valid">
                        <label for="id_assign_owner">{% trans 'Owner' %}</label>
                        <select name="owner" class="form-control is-valid" title="" id="id_assign_owner"></select>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="assign">
                <i class="fal fa-box-open"></i>
                {% trans 'assign' %}
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                <i class="fal fa-times"></i>
            </button>
        </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-12" id="photocontent">
        <div class="panel">
        {% if photos.qs %}

            {% if not view %}
            <div class="row popup-gallery justify-content-center">
                <div class="col-12">
                    <h4 class="text-center" style="margin-top: 20px;">
                        <span class="badge badge-secondary">{{ photos.qs.count }}</span>
                    </h4>
                    <hr/>
                    <div class="card-deck">
                        {% for photo in photos.qs %}
                        <div class="card text-center" id="{{ photo.id }}">
                            <div class="image-container">
                                <img class="img-fluid img-thumbnail card-img"
                                     src="{% version photo.imagefile 'thumbnail' %}" alt="{{ photo.name }}">
                                <span class="dot"><i class="fal fa-check"></i></span>
                            </div>
                            <div class="card-body toolbar">
                                <a href="{% url 'display' photo.id %}" class="tool img-large"
                                   title="{% trans 'view' %}" data-name="{{ photo.name }}">
                                    <i class="fal fa-eye"></i>
                                </a>
                                <a href="{% url 'photodetail' photo.id %}" class="tool"
                                   title="{% trans 'Details' %}">
                                    <i class="fal fa-info-circle"></i>
                                </a>
                                <a href="{% url 'photoedit' photo.id %}"
                                   class="tool" title="{% trans 'edit metadata' %}">
                                    <i class="fal fa-edit"></i>
                                </a>
                                <a href="{{ photo.imagefile.url }}" download class="tool"
                                   title="{% trans 'download' %}">
                                    <i class="fal fa-download"></i>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% else %}

            {% if view == 'event' %}
                {% regroup photos.qs by event as grouped_list %}
            {% else %}
                {% regroup photos.qs by upload as grouped_list %}
            {% endif %}
            {% for group in grouped_list %}
            <div class="row popup-gallery justify-content-center">
                <div class="col-12">
                    <h4 class="text-center" style="margin-top: 20px;">
                        {{ group.grouper }}
                        <span class="badge badge-secondary">{{ group.list|length }}</span>
                    </h4>
                    <hr/>
                </div>
                <div class="col-12">
                    <div class="card-deck">
                        {% for photo in group.list %}
                        <div class="card text-center" id="{{ photo.id }}">
                            <div class="image-container">
                                <img class="img-fluid img-thumbnail card-img"
                                     src="{% version photo.imagefile 'thumbnail' %}" alt="{{ photo.name }}"
                                >
                                <span class="dot"><i class="fal fa-check"></i></span>
                            </div>
                            <div class="card-body toolbar">
                                <a href="{% url 'display' photo.id %}" class="tool"
                                   title="{% trans 'view' %}" data-name="{{ photo.name }}">
                                    <i class="fal fa-eye"></i>
                                </a>
                                <a href="{% url 'photodetail' photo.id %}" class="tool"
                                   title="{% trans 'Details' %}">
                                    <i class="fal fa-info-circle"></i>
                                </a>
                                <a href="{% url 'photoedit' photo.id %}?next={{ request.path }}"
                                   class="tool" title="{% trans 'edit metadata' %}">
                                    <i class="fal fa-edit"></i>
                                </a>
                                <a href="{{ photo.imagefile.url }}" download class="tool"
                                   title="{% trans 'download' %}">
                                    <i class="fal fa-download"></i>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}

            {% endif %}
        {% else %}
            <p style="padding: 10px;">{% trans 'no photos found.' %}</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}