{% extends 'base.html' %}
{% load i18n static bootstrap4 %}

{% block bootstrap4_extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/photodisplay.css' %}">
{% endblock %}

{% block title_sep %}{% endblock %}

{% block content %}
<div class="container-fluid">
    {% trans 'not set' as notset %}
    <div class="row">
        <div class="col-12 text-center align-self-center">
            <img class="img-fluid img-display" src="{{ photo.imagefile.url }}" alt="{{ photo.name }}">
        </div>
    </div>
</div>
{% endblock %}
