{% extends 'base_struct.html' %}
{% load i18n static bootstrap4 photo_tags %}

{% block bootstrap4_extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'magnific-popup/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'select2/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'datetimepicker/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'css/photolist.css' %}">
<script src="{% static 'magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'select2/select2.full.min.js' %}"></script>
<script src="{% static 'js/ds.min.js' %}"></script>
{% endblock %}

{% block bootstrap4_extra_script %}
<script type="text/javascript">
$(document).ready(function() {
    $('.popup-gallery').magnificPopup({
        delegate: 'a.img-large',
        type: 'image',
        tLoading: 'Loading image #%curr%...',
        mainClass: 'mfp-img-mobile',
        gallery: {
            enabled: true,
            navigateByImgClick: false,
            preload: [0,1] // Will preload 0 - before current, and 1 after the current image
        },
        image: {
            tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
            titleSrc: function(item) {
                 return item.el.attr('title') + '<small>' + item.el.attr('href') + '</small>';
            }
        }
    });

    $('#id_event').select2();
    $('#id_tags').select2();
    var options = {
        locale: 'de',
        format: 'L',
        icons: {
            time: "far fa-clock",
            date: "far fa-calendar",
            up: "far fa-arrow-up",
            down: "far fa-arrow-down"
        }
    };
    $('#id_timestamp_0').datetimepicker(options);
    $('#id_timestamp_1').datetimepicker(options);
    $('#id_uploaded_0').datetimepicker(options);
    $('#id_uploaded_1').datetimepicker(options);


    $('.image-container').on('click', function() {
       if ($(this).hasClass('selected')) {
           $(this).removeClass('selected');
        } else {
            $(this).addClass('selected');
       }
    });
    $('#all').on('click', function() {
        $('.image-container').addClass('selected');
    });
    $('#none').on('click', function() {
        $('.image-container').removeClass('selected');
    });

    $('#delete').on('click', function() {
        var ids = $.map($(".image-container.selected"), function (item) {
            return $(item).attr("id");
        });
        $.ajax({
            type: 'POST',
            url: '/processdelete/',
            data: {
                'ids[]': ids,
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            },
            success: function(){
                $(".selected").remove();
            },
            error: function (xhr, ajaxOptions, thrownError){
                alert('error!');
            }
        });
    });

});
</script>
{% endblock %}

{% block filter %}
<div class="row">
    <div class="col">
        <h5>Filter</h5>
        <form action="" method="get">
            {% bootstrap_field photos.form.event %}
            {% bootstrap_field photos.form.tags %}
            {% bootstrap_field photos.form.timestamp %}
            {% bootstrap_field photos.form.uploaded %}
            {% bootstrap_button "<i class='far fa-filter'></i>" button_type="submit" button_class="btn-primary" %}
        </form>
    </div>
</div>
{% endblock %}

{% block toolbar %}
<button class="btn btn-default" id="all" title="{% trans 'select all' %}">
    <i class="fas fa-th"></i>
</button>
<button class="btn btn-default" id="none" title="{% trans 'select none' %}">
    <i class="fal fa-th"></i>
</button>
<span class="tool-separator"></span>
<button class="btn btn-default" id="edit" title="{% trans 'edit metadata' %}">
    <i class="far fa-edit"></i>
</button>
<button class="btn btn-default" data-toggle="modal" data-target="#deleteModal" title="{% trans 'delete' %}">
    <i class="far fa-trash-alt"></i>
</button>
<span class="tool-separator"></span>
<button class="btn btn-default" id="download" title="{% trans 'download' %}">
    <i class="far fa-download"></i>
</button>
{% endblock %}

{% block photocontent %}
<!-- The Modal -->
<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">{% trans 'Delete photos' %}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <p>
                {% trans 'Do you really want to delete the selected photos?' %}
            </p>
            <p>
                <i class="far fa-exclamation-triangle"></i>
                {% trans 'The physical file will not be deleted!' %}
            </p>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="delete">
                <i class="far fa-trash"></i>
                {% trans 'delete' %}
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">
                <i class="far fa-times"></i>
            </button>
        </div>

        </div>
    </div>
</div>

<div class="row justify-content-center list popup-gallery">
    {% if photos.qs %}
        {% cut_photos photos.qs recent as photolist %}
        {% for photo in photolist %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 image-container justify-content-center align-self-center" id="{{ photo.id }}">
                <div class="image text-center">
                    <span class="toggleselect">
                        {% if photo.thumb %}
                        <img class="img-responsive thumb img-thumbnail" src="{{ photo.thumb.url }}" alt="{{ photo.name }}">
                        {% else %}
                        <img class="img-responsive" src="{{ photo.imagefile.url }}" alt="{{ photo.name }}">
                        {% endif %}
                    </span>
                    <span class="tool-overlay">
                        <a href="{{ photo.imagefile.url }}" class="tool img-large" title="{% trans 'view' %}">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a href="{% url 'photodetail' photo.id %}" class="tool">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <a href="{% url 'photoedit' photo.id %}?next={{ request.path }}" class="tool">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{{ photo.imagefile.url }}" download class="tool">
                            <i class="fas fa-download"></i>
                        </a>
                    </span>
                </div>

            </div>
        {% endfor %}
    {% else %}
        <p>{% trans 'no photos found.' %}</p>
    {% endif %}
</div>
{% endblock %}