{% extends 'base.html' %}
{% load i18n static bootstrap4 %}


{% block bootstrap4_extra_head %}
{{ block.super }}
<script>
function initMap() {
    var location = {lat: {{ photo.latitude }}, lng: {{ photo.longitude }}};
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: location
    });
    var marker = new google.maps.Marker({
        position: location,
        map: map
    });
}
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap">
</script>
{% endblock %}

{% block content %}
<!-- The Exif Modal -->
<div class="modal fade bd-example-modal-lg" id="exifModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{% trans 'EXIF data' %}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="exif">
                <table class="table table-striped table-sm">
                    <tbody>
                    {% for mainkey,value in photo.exif.items %}
                        {% for key,value in value.items %}
                        <tr>
                            <td>{% ifchanged mainkey %}{{ mainkey }}{% endifchanged %}</td>
                            <td>{% trans key %}</td>
                            <td>{{ value }}</td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

{% if photo.latitude and photo.longitude %}
<!-- The Map Modal -->
<div class="modal fade bd-example-modal-lg" id="mapModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{% trans 'Map' %}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="max-height: 40rem; overflow: auto;">
                <div class="row">
                    <div class="col">
                        <div id="map"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12 text-center align-self-center">
            <img class="img-responsive img-detail" src="{{ photo.imagefile.url }}" alt="{{ photo.name }}">
        </div>
        <div class="col-lg-6 col-md-12">
            <ul class="list-group">
                <li class="list-group-item"><b>{% trans 'name' %} </b>{{ photo.name }}</li>
                <li class="list-group-item"><b>{% trans 'filename' %} </b>{{ photo.filename }}</li>
                <li class="list-group-item"><b>{% trans 'event' %} </b>{{ photo.event }}</li>
                <li class="list-group-item"><b>
                    {% trans 'tags' %} </b>
                    {% for tag in photo.tags.all %}
                        <span class="badge badge-secondary">{{ tag }}</span>
                    {% endfor %}
                </li>
                <li class="list-group-item"><b>{% trans 'timestamp' %} </b> {{ photo.timestamp }}</li>
                <li class="list-group-item">
                    <b>{% trans 'location' %} </b>
                    {% if photo.latitude and photo.longitude %}
                        {{ photo.address.formatted }}
                    {% else %}
                        {% trans 'not available' %}
                    {% endif %}
                </li>
                <li class="list-group-item">
                    <b>{% trans 'GPS Position' %}</b>
                    {% if photo.latitude and photo.longitude %}
                        {{ photo.latitude }} , {{ photo.longitude }}
                    {% else %}
                        {% trans 'not available' %}
                    {% endif %}
                </li>
                <li class="list-group-item"><b>{% trans 'uploaded' %} </b> {{ photo.uploaded }}<b>
                    {% trans 'by' %} </b>
                    {% if photo.uploaded_by.get_full_name %}
                        {{ photo.uploaded_by.get_full_name }}
                    {% else %}
                        {{ photo.uploaded_by.user }}
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if photo.latitude and photo.longitude %}
            <button class="btn btn-default" data-toggle="modal" data-target="#mapModal" title="{% trans 'show on map' %}">
                <i class="far fa-map"></i>
            </button>
            {% endif %}
            <button class="btn btn-default" data-toggle="modal" data-target="#exifModal" title="{% trans 'show EXIF data' %}">
                <i class="far fa-camera"></i>
            </button>
            <a href="{% url 'photoedit' photo.id %}" class="tool" title="{% trans 'edit metadata' %}">
                <button class="btn btn-default">
                    <i class="far fa-edit"></i>
                </button>
            </a>
        </div>
    </div>

</div>
{% endblock %}
