{% extends 'base.html' %}
{% load i18n static bootstrap4 %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <h4>{% trans 'tags' %}</h4>
        <div class="col-12">
            <table id="tags" class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>{% trans 'name' %}</th>
                        <th># {% trans 'photos' %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in taglist %}
                    <tr>
                        <td>{{ tag.name }}</td>
                        <td>{{ tag.photo_set.all.count }}</td>
                        <td>
                            {% if tag.photo_set.all.count > 0 %}
                            <a href="{% url 'photolist' %}?viewtype=e&tags={{tag.id}}">
                                <button class="btn btn-sm btn-secondary" title="{% trans 'view' %}">
                                    <i class="far fa-eye"></i>
                                </button>
                            </a>
                            {% else %}
                                <button class="btn btn-sm btn-secondary" title="{% trans 'view' %}" disabled="disabled">
                                    <i class="far fa-eye"></i>
                                </button>
                            {% endif %}
                            <a href="{% url 'tagupdate' tag.id %}">
                                <button class="btn btn-sm btn-secondary" title="{% trans 'edit' %}">
                                    <i class="far fa-edit"></i>
                                </button>
                            </a>
                            <a href="{% url 'tagdelete' tag.id %}">
                                <button class="btn btn-sm btn-danger" title="{% trans 'delete' %}">
                                    <i class="far fa-trash"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'photolist' %}">
                <button class="btn btn-primary" name="back" title="{% trans 'back' %}">
                    <i class="far fa-check"></i>
                </button>
            </a>
            <a href="{% url 'tagcreate' %}">
                <button class="btn btn-success" name="add" title="{% trans 'new' %}">
                    <i class="far fa-plus"></i>
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
