{% extends 'base.html' %}
{% load i18n static bootstrap4 photo_tags fb_versions %}

{% block bootstrap4_extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/eventlist.css' %}">
{% endblock %}

{% block title %}{% trans 'tags' %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <div class="row popup-gallery justify-content-center">
                <div class="card-deck">
                    {% for tag in taglist %}
                    {% get_visibles tag.photo_set.all user as visibles %}
                    {% if visibles.count > 0 %}
                    <div class="card text-center" id="{{ event.id }}">
                        <div class="card-header">
                            <h5 class="card-title">
                                {{ tag.name }}
                                <span class="badge badge-secondary">{{ visibles.count }}</span>
                            </h5>
                        </div>
                        <div class="card-body toolbar">
                            {% for photo in visibles|slice:"0:3" %}
                            <img class="img-responsive thumb img-thumbnail" src="{% version photo.imagefile 'thumbnail' %}" alt="{{ photo.name }}"
                                style="transform: rotate({{forloop.counter|rotation}}deg);">
                            {% endfor %}
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'photolist' %}?viewtype=event&tags={{tag.id}}" class="tool"
                            {% if visibles.count == 0 %}disabled="disabled{% endif %}"
                            title="{% trans 'view' %}">
                                <i class="far fa-eye"></i>
                            </a>
                            <a href="{% url 'tagupdate' tag.id %}" class="tool" title="{% trans 'edit' %}">
                                <i class="fal fa-edit"></i>
                            </a>
                            <a href="{% url 'tagdelete' tag.id %}" class="tool" title="{% trans 'delete' %}">
                                <i class="fal fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <a href="{% url 'photolist' %}">
                <button class="btn btn-primary" name="back" title="{% trans 'back' %}">
                    <i class="far fa-check"></i>
                </button>
            </a>
            <a href="{% url 'tagcreate' %}">
                <button class="btn btn-success" name="add" title="{% trans 'new' %}">
                    <i class="far fa-plus"></i>
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
