.card-deck {
    margin: 0 auto;
    padding: 0 5px;
}

.card {
    min-width: 200px;
    max-width: 200px;
    margin: 15px;
    min-height: 300px;
    max-height: 400px;
}

.card-header {
    min-height: 5.5rem;
}

.card-header h5 {
    margin-bottom: 0;
}

.card-body {
    height: 220px;
    position: relative;
}

.img-thumbnail {
    width: 160px;
    height: 180px;
    object-fit: cover;
    border: none;
    position: absolute;
    top: 20px;
    left: 19px;
    background-color: var(--secondary);
}

.tool {
    padding: 6px;
    text-decoration: none;
}
.tool:hover {
    text-decoration: none;
    text-shadow: 2px 2px #ff0000;
}

a, a:hover {
    text-decoration: none;
}

.row.buttons {
    margin-top: 20px;
    margin-bottom: 20px;
}
