.card-deck {
    padding: 15px;
}

.card {
    min-width: 200px;
    margin-bottom: 15px !important;
}


.img-thumbnail {
    object-fit: cover;
    border: none;
    padding: 0;
}

.dot {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 1px solid var(--light);
    background-color: var(--light);
    display: inline;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 99;
}

.dot svg {
    display: inline;
}

.selected .dot {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 1px solid var(--light);
    display: inline;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 99;
}

.image-container:hover .hover-dot {
    display: inline;
}

.tool {
    padding: 6px;
    text-decoration: none;
}
.tool:hover {
    text-decoration: none;
}

.toolbar {
    text-align: center;
    width: 100%;
}

/* remove hr from title since here is no title */
.title-hr {
    display: none;
}

.badge-lg {
    font-size: 16px;
}