.card-deck {
    padding: 5px 20px;
}

.card {
    min-width: 200px;
    /* max-width: 400px; */
    height: 280px;
    margin-bottom: 15px !important;
}

.card-body {
    position: absolute;
    height: 50px;
    bottom: 10px;
}

.image-container {
    padding: 0px;
    margin: 0px;
}

.img-thumbnail {
    height: 220px;
    object-fit: cover;
    border: none;
    padding: 0;
}

.dot {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 1px solid var(--light);
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 99;
}

.dot svg {
    display: none;
}

.card.selected .dot {
    background-color: var(--light);
    display: inline;
}

.image-container:hover .dot {
    display: inline;
}

.card.selected .dot svg {
    display: inline;
}

.tool {
    padding: 6px;
}
.tool:hover {
    text-decoration: none;
}

.toolbar {
    text-align: center;
    width: 100%;
}

/* remove hr from title since here is no title */
.title-hr {
    display: none;
}

#id_selected {
    margin-top: 7px;
    margin-right: 10px;
    font-size: 16px;
}