.dropdown-menu.right { right: 0; left: auto; }

.panel {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.list {
     margin: 0;
}

hr {
    width: 30%;
}


pre {
    width: 100%;
    white-space: pre-wrap;
}

.btn {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.img-detail {
    width: 90%;
    padding: 20px;
}