.dropdown-menu.right { right: 0; left: auto; }

.panel {
    border: 1px solid #ccc;
    margin: 5px;
}

.row {
    margin-bottom: 1rem;
}

hr {
    width: 30%;
}


pre {
    width: 100%;
    white-space: pre-wrap;
}

.btn {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.img-detail {
    width: 90%;
    padding: 20px;
}

#map {
    min-height: 30rem;
}
#exif {
     max-height: 40rem;
     overflow: auto;
}

.btn.remove {
    margin: 3px auto;
}