.card-deck {
    margin: 0 auto;
    padding: 0 5px;
}

.card {
    min-width: 200px;
    max-width: 400px;
    height: 280px;
    margin: 15px;
}

.card-body {
    position: absolute;
    height: 50px;
    bottom: 10px;
}

.image-container {
    background-color: #fff;
    padding: 0px;
    margin: 0px;
}

.img-thumbnail {
    /* width: 200px;*/
    height: 220px;
    object-fit: cover;
    border: none;
    padding: 0;
}

.dot {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 1px solid white;
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 99;
}

.dot svg {
    display: none;
}

.card.selected .dot {
    background-color: white;
    display: inline;
}

.image-container:hover .dot {
    display: inline;
}

.card.selected .dot svg {
    display: inline;
}

.tool {
    padding: 6px;
}
.tool:hover {
    text-decoration: none;
}

.toolbar {
    text-align: center;
    width: 100%;
}

.toolbar a, .toolbar span {
    color: #999;
}
.toolbar a:hover, .toolbar span:hover {
    color: #000;
}

/* remvove hr from title since here is no title */
.title-hr {
    display: none;
}