.dropdown-menu.right { right: 0; left: auto; }

.panel {
    border: 1px solid  var(--secondary);
    margin: 5px;
}

.title-block {
    text-align: center;
    margin-top: 20px;
}

hr {
    width: 30%;
    background-color: var(--secondary);
}


pre {
    width: 100%;
    white-space: pre-wrap;
}

.btn {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.img-detail {
    width: 100%;
    margin-bottom: 20px;
}

#map {
    min-height: 30rem;
}
#exif {
     max-height: 40rem;
     overflow: auto;
}

.btn.remove {
    margin: 3px auto;
}

#toolbar .panel {
    padding: 8px;
}

#toolbar .btn {
    margin: 3px;
}

#toolbar .btn-secondary:disabled {
    cursor: not-allowed;
}

.tool-separator {
    padding: 0 10px;
}

.modal {
    top: 1rem;
}

.pagination-info {
    font-size: small;
    position: absolute;
    top: 10px;
    right: 2rem;
}